<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title th:text="${pageTitle}">Napi SFJ</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{css/main.css}" href="../static/css/main.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul>
                    <li><a th:href="@{/}">Házak</a></li>
                    <li><a th:href="@{/addHouse}">Hozzáadás</a></li>
                    <li><a th:href="@{/searchHouse}">Frissítés</a></li>
                    <li><a th:href="@{/deleteHouse}">Törlés</a></li>
                    <li style="float:right"><a th:href="@{/about}">Rólunk</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <a class="navbar-brand" href="#">myHouse.com</a>
            </div>
        </div>
    </nav>

    <article class="">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h2 th:text="${story.id} +'. '+ ${story.title}"><b>TEXT</b></h2>
            </div>

            <form class="w3-container" action="#" th:action="@{/updateHouse}" th:object="${updateStory}" method="post">
                <p class="container">Itt frissíthed a betöltött Ház adatait.</p>

                <p class="container">
                    <input class="w3-input w3-border " type="hidden" id="id" name="id" th:value="${story.id}" />
                </p>

                <p class="container">
                    <i class="w3 fa fa-newspaper-o"></i>
                    <label class="w3-text-teal"><b>Címe: </b></label>
                    <input class="w3-input w3-border " type="text" id="title" name="title" th:value="${story.title}" />
                </p>
                <p class="container">
                    <i class="w3 fa fa-building"></i>
                    <label class="w3-text-teal"><b>Város:</b></label>
                    <input class="w3-input w3-border " type="text" id="city" name="city" th:value="${story.city}" />
                </p>
                <p class="container">
                    <i class="w3 fa fa-money"></i>
                    <label class="w3-text-teal"><b>Ára:</b></label>
                    <input class="w3-input w3-border " type="text" id="housevalue" name="housevalue" th:value="${story.housevalue}" />
                </p>
                <p class="container">
                    <i class="w3 fa fa-external-link"></i>
                    <label class="w3-text-teal"><b>Kép linkje:</b></label>
                    <input class="w3-input w3-border " type="text" id="pictureUrl" name="pictureUrl" th:value="${story.pictureUrl}" />
                </p>
                <p class="container">
                    <i class="w3 fa fa-external-link"></i>
                    <label class="w3-text-teal"><b>Hirdetés linkje:</b></label>
                    <input class="w3-input w3-border " type="text" id="linkToHouse" name="linkToHouse" th:value="${story.linkToHouse}" />
                </p>
                <p class="container">
                    <i class="w3 fa fa-address-card"></i>
                    <label class="w3-text-teal"><b>Eladó Neve:</b></label>
                    <input class="w3-input w3-border " type="text" id="sellerName" name="sellerName" th:value="${story.sellerName}" />
                </p>
                <p class="container">
                    <i class="w3 fa fa-mobile"></i>
                    <label class="w3-text-teal"><b>Eladó telefonszáma:</b></label>
                    <input class="w3-input w3-border " type="text" id="phoneNumber" name="phoneNumber" th:value="${story.phoneNumber}"/>
                </p>
                <p class="container">
                    <i class="w3 fa fa-microphone"></i>
                    <label class="w3-text-teal"><b>Felhivtad már?:</b>
                        <input class="w3-check" type="checkbox" id="called" name="called" th:value="${story.called}" />
                    </label>
                </p>
                <p class="container">
                    <i class="w3 fa fa-pencil-square-o"></i>
                    <label class="w3-text-teal"><b>Leírás:</b></label>
                    <textarea class="w3-input w3-border" id="content" name="content" th:utext="${story.content}"></textarea>
                </p>
                <br/>
                <p>
                    <button type="submit" class="w3-btn w3-teal"><i class="w3 fa fa-check"/>  Frissítés</button>
                    <button type="reset" class="w3-btn w3-teal" th:href="@{/}"><i class="w3 fa fa-close"/>  Vissza</button>
                </p>
                <br/>
            </form>

        </div>
        <br/>

    </article>
    <br/>
    <footer>
        <p><i class="w3 fa faStories fa-copyright"></i> 2018 Készítette Kiss Zoltán <a href="mailto:kiss.zoltan.pti@gmail.com">kiss.zoltan.pti@gmail.com</a>.</p>
    </footer>
    <br/>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>